{% extends 'base.html' %}
{% block title %} 
    Titulo
{% endblock title %}

{% block post_area %}
    {% for post in post_list %}
    <div class="border p-3 shadow-sm mb-3">
        <strong class="d-inline-block mb-2 text-success">{{ post.categoria }}</strong></a>
        <h2>{{ post.titulo }}</h2>
        <div class="my-2 text-muted">{{ post.autor.get_full_name }}  | {{ post.data}} </div>
        <hr>
        <p class="text-justify">{{post.conteudo|truncatechars_html:200| safe }}</p>
        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-outline-dark mt-2">Ler &rarr;</a>
    </div>
    {% endfor %}
{% endblock post_area %}

{% block paginator %}
	{% include 'paginator.html' %}
{% endblock paginator %}
	